@charset "UTF-8";


div{
  margin: 25px;
  text-align: center;
}

a{
  font-weight: bold;
  font-size: 18px;
  background-color: #25D366 ;
  border: 35px;
  width: 150px;
  border-radius: 25px;
  padding: 10px;
  color: white;
  text-decoration:none
}