@charset "UTF-8";

body{
  color: black;
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: red;
  text-decoration: none;
  font font-weight: border: ;

}
a:visited{
  color: rgb(69, 244, 78);
}

a:hover{
  text-decoration: underline;
  color: black;
}
a:active{
  color: yellow;
}
a::before{
  content: '☞';
  text-decoration: none;
  font-weight: normal;
  color: black;

}

a::after{
  content: '☜	';
  text-decoration: none;
  font-weight: normal;
  color: darkgreen;
}